@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #1f2d33;
  font-family: "Space Grotesk", ui-sans-serif, system-ui, -apple-system, Segoe UI, sans-serif;
}

body {
  @apply bg-aura min-h-screen text-ink;
}

input, select, textarea, button {
  @apply outline-none;
}
